.LaunchDetails {
    background-color: #34495E  !important;
}

body {
    background-color: #34495E  !important;
}

.card-launch {
    padding: 50px;
}

.img-launch {
    width: 500px;
    height: 500px;
    margin: 2%;
    justify-content: space-between;
    border-radius: 10%;
    border: 8px solid lightblue;
    align-items: 'center';
}
.mission{
    margin-left: 20px;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    color:lightskyblue;

}
.cardlaunch{
    margin-left: 150px;
    
}
.cardimg{
    height: 200px;
}
